body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

button{
  text-decoration: none;
  all: unset;
}

/* -------------Home-------------- */

.Home .container {  
  margin: 0 auto;
}

/* .Home .container .wrapper{
  padding: 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} */

.Home .container .wrapper p{
  font-size: .75rem;
  /* letter-spacing: .3rem; */
}

.Home .container .wrapper h5{
  margin-top: 130px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 100px;
}

.Home .container .wrapper{
  width: 80%;
  margin: auto;
}

.Home .container .wrapper .top{
  margin-top: 0px;
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 0px !important;
}

.Home .container .wrapper .top h3{
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 15px;
}

.Home .container .wrapper .top .head-bar{
  width: 50px;
  height: 1.7px;
  background-color: #4D4D4D;
}

.Home .container .wrapper .top .head-desc{
  font-size: 15px;
}

.Home .container .wrapper .mid{
  width: 100%;
  margin-top: -135px;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 0px !important;
}

.Home .container .wrapper .mid p {
  font-size: 150px;
  margin-bottom: 0px !important;
  line-height: 7.5rem;
}

.Home .container .wrapper .mid p img{
  width: 100px;
}

.Home .container .wrapper .bottom p{
  color: #fff;
  margin-top: -135px !important;
  width: 70%;
  color: #C5C0C0;
  font-size: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}


/* ------------Header----------- */
.header{
  height: 80px;
}

.header .container {
  width: 100%;
}

.header .container .wrapper{
  width: 90%;
  margin: auto;
}

.header .inner-header{
  position: relative;
  z-index: 10;
  height: 100px;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: #fff;
}

.header .inner-header .logo .brand{
  font-weight: 700;
  text-decoration: none;
  /* color: black; */
  color: white;
}

.header .inner-header .logo .brand .logo-icon{
  width: 40px;
}

.header .inner-header .menu button:hover{
  cursor: pointer;
}

.header .hamburger-menu{
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hamburger-menu .menu-secondary-background-color{
  background-color: black;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hamburger-menu .menu-layer{
  position: relative;
  background: red;
  height: 100%;
  overflow: hidden;
}

.hamburger-menu .menu-layer .menu-city-background{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: cameraPan 30s infinite ;
}

.hamburger-menu .menu-layer .wrapper{
  position: relative;
}

.hamburger-menu .menu-layer .wrapper .menu-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 200px;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav{
  display: block;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul{
  padding: 0;
  margin: 0;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul li{
  list-style: none;
  font-size: 6rem;
  font-weight: 700;
  cursor: pointer;
  height: 135px;
  overflow: hidden;
  position: relative;
  width: 700px;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul li .menu-item{
  position: absolute;
  color: white;
  text-decoration: none;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul li .menu-item:hover{
  color: black;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info{
  color: #fff;
  width: 500px;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info h3{
  font-size: 1.5rem;
  width: 300px;
  letter-spacing: 0.08rem;
  line-height: 20px;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info p{
  margin: 0 auto;
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
  line-height: 20px;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations{
  position: absolute;
  bottom: -80px;
  color: #fff;
  margin-top: 16px;
  font-size: .8rem;
  font-weight: 600;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span{
  cursor: pointer;
  margin: 0 32px;
  transition: .3s ease-in-out;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span:first-child{
  margin-left: 64px; 
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span:hover{
  background: black;
  padding: 8px 24px;
  border-radius: 4px;
}


@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0% 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
