body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  all: unset;
}

button{
  text-decoration: none;
  all: unset;
}


/* -------------Home-------------- */

.Home .container {  
  margin: 0 auto;
}

/* .Home .container .wrapper{
  padding: 0 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} */

.Home .container .wrapper p{
  font-size: .75rem;
  /* letter-spacing: .3rem; */
}

.Home .container .wrapper h5{
  margin-top: 130px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 100px;
}

.Home .container .wrapper{
  width: 80%;
  margin: auto;
  margin-top: 85px;
}

.Home .container .wrapper .top{
  margin-top: 0px;
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 0px !important;
}

.Home .container .wrapper .top h3{
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 15px;
}

.Home .container .wrapper .top .head-bar{
  width: 50px;
  height: 1.7px;
  background-color: #4D4D4D;
}

.Home .container .wrapper .top .head-desc{
  font-size: 15px;
}

.Home .container .wrapper .mid{
  width: 100%;
  margin-top: -135px;
  color: #fff;
  font-family: 'Bebas Neue', sans-serif;
  margin-bottom: 0px !important;
}

.Home .container .wrapper .mid p {
  font-size: 150px;
  margin-bottom: 0px !important;
  line-height: 7.5rem;
}

.Home .container .wrapper .mid p img{
  width: 100px;
}

.Home .container .wrapper .bottom p{
  color: #fff;
  margin-top: -135px !important;
  width: 70%;
  color: #C5C0C0;
  font-size: 15px;
  line-height: 1.5rem;
  letter-spacing: 0.01rem;
}


/* ------------Header----------- */
.header{
  height: 87px;
  width: 100%;
  position: fixed;
  top: 0;
}

.header-dark{
  background: black;
  /* box-shadow: 0px 0px 15px 0px #2d2e2f; */
  border-bottom: 1px solid #2a2727;
}

.header .container {
  width: 100%;
}

.header .container .wrapper{
  width: 90%;
  margin: auto;
}

.header .inner-header{
  position: relative;
  z-index: 10;
  height: 100px;
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: #fff;
}

.header .inner-header .logo .brand{
  font-weight: 700;
  text-decoration: none;
  /* color: black; */
  color: white;
}

.header .inner-header .logo .brand .logo-icon{
  width: 40px;
}

.header .inner-header .logo .brand .logo-icon:hover{
  cursor: pointer;
}

.header .inner-header .menu button:hover{
  cursor: pointer;
}

.header .inner-header .menu button .ham-bar-1{
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 6px;
}

.header .inner-header .menu button .ham-bar-2{
  width: 28px;
  height: 2px;
  background-color: #fff;
}

.header .hamburger-menu{
  display: none;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hamburger-menu .menu-secondary-background-color{
  background-color: #000;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

.hamburger-menu .menu-layer{
  position: relative;
  background: #110cf1;
  height: 100%;
  overflow: hidden;
}

.hamburger-menu .menu-layer .menu-city-background{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-size: cover;
  background-repeat: no-repeat;
  animation: cameraPan 30s infinite ;
}

.hamburger-menu .menu-layer .container .bottom{
  position: absolute;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color: #000;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  color: #fff;
  /* display: none; */
}

.hamburger-menu .menu-layer .wrapper{
  position: relative;
  width: 75%;
}

.hamburger-menu .menu-layer .wrapper .menu-links{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 100px;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav{
  /* display: block; */
  width: 35%;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul{
  padding: 0;
  margin: 0;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul .socials{
  color: white;
  font-weight: 500;
  font-size: 14px;
  margin-top: 70px;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul .socials a{
  margin-right: 20px;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul .socials a:hover{
  cursor: pointer;
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul li{
  list-style: none;
  font-size: 3.8rem;
  font-weight: 700;
  cursor: pointer;
  height: 95px;
  overflow: hidden;
  position: relative;
  /* width: 700px; */
}

.hamburger-menu .menu-layer .wrapper .menu-links nav ul li .menu-item{
  position: absolute;
  color: white;
  text-decoration: none;
  /* overflow: hidden;
  position: relative;
  display: inline-block; */
}



.hamburger-menu .menu-layer .wrapper .menu-links nav ul li .menu-item:hover{
  color:#3877F0;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info{
  color: #fff;
  width: 52%;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info .head{
  font-family: 'Bebas Neue', sans-serif !important;
  font-size: 6.6rem;
  color: #fff;
  margin-bottom: 40px !important;
  line-height: 5.9rem;
  /* width: 300px; */
  /* letter-spacing: 0.08rem; */
  /* line-height: 20px; */
}

.hamburger-menu .menu-layer .wrapper .menu-links .info .head span{
  color: #3877F0;
}

.hamburger-menu .menu-layer .wrapper .menu-links .info p{
  margin: 0 auto;
  font-size: 0.9rem;
  letter-spacing: 0.08rem;
  line-height: 20px;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations{
  position: absolute;
  bottom: -80px;
  color: #fff;
  margin-top: 16px;
  font-size: .8rem;
  font-weight: 600;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span{
  cursor: pointer;
  margin: 0 32px;
  transition: .3s ease-in-out;
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span:first-child{
  margin-left: 64px; 
}

.hamburger-menu .menu-layer .wrapper .menu-links .locations span:hover{
  background: black;
  padding: 8px 24px;
  border-radius: 4px;
}


/* ----------------------ABOUT ME PAGE------------------ */

.AboutMe{
  width: 100%;
  /* height: 3000px; */
}

.AboutMe .banner{
  width: 100%;
  margin-top: 150px;
}

.AboutMe .banner .body{
  width: 75%;
  margin: auto;
}

.AboutMe .banner .body .top{
  color: #fff;
  font-size: 30px;
  line-height: 3rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

.AboutMe .banner .body .top p span{
  color: #989AAB;  
}

.AboutMe .banner .body .bottom{
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

.AboutMe .banner .body .bottom:hover{
  transform: scale(0.9);  
}

.AboutMe .banner .body .bottom img{
  object-fit: cover;
  width: 100%;
  height: 500px;
  background-position: center;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

.AboutMe .banner .body .bottom img:hover{
  /* transform: scale(0.9); */
  /* transform: translate3d(-50%, -42.4811%, 0px); */
  transform: scale(1.2);
}

.AboutMe .info_me{
  width: 100%;
  padding-top: 100px; 
  background-color: #fff;
  margin-top: 150px;
  padding-bottom: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.AboutMe .info_me .body{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AboutMe .info_me .body .left{
  width: 45%;
}

.AboutMe .info_me .body .left h5{
  color: #000;
  font-size: 36px;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 40px !important;
}

.AboutMe .info_me .body .left p {
  color: #050505;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: 400;
  width: 90%;
  margin-bottom: 50px;
}

.AboutMe .info_me .body .left .techstack-tags{
  width: 90%;
  margin-top: 4px;
  display: flex;
}

.AboutMe .info_me .body .left .techstack-tags .tag{
  padding: 5px 25px;
  color: #fff;
  background-color: #0909f0;
  width: fit-content;
  font-size: 50px;
  font-family: 'Bebas Neue', sans-serif;
  /* margin-bottom: 10px; */
  margin-right: 4px;
  /* border-radius: 35px; */
}

.AboutMe .info_me .body .left .techstack-tags .yellow{
  background-color: yellow;
  color: #000;
}

.AboutMe .info_me .body .left .techstack-tags .green{
  background-color: greenyellow;
  color: #000;
}

.AboutMe .info_me .body .right{
  width: 50%;
}

.AboutMe .info_me .body .right img{
  width: 100%;
  border-radius: 30px;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.AboutMe .info_me .body .right .img_cont{
  overflow: hidden;
  border-radius: 30px;
  transition: transform 0.5s ease;
}

.AboutMe .info_me .body .right .img_cont:hover{
  transform: scale(0.9);
}

.AboutMe .info_me .body .right img:hover{
  transform: scale(1.2);
}

.AboutMe .info_me .body .right .bottom{
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  margin-top: 30px;
  font-size: 120px;
  line-height: 5.8rem;
}

.AboutMe .info_me .body .right .bottom span {
  color: #FBE309;
}

.AboutMe .info_me .language {
  width: 100%;
  padding-top: 0px;
}

.AboutMe .info_me .language .lan-top{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.AboutMe .info_me .language .lan-top .lan-top-left {
  width: 50%;
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  font-size: 140px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  line-height: 8rem;
}

.AboutMe .info_me .language .lan-bottom {
  margin-top: -90px;
  width: 100%;
}

.AboutMe .info_me .language .lan-bottom p{
  font-family: 'Bebas Neue', sans-serif;
  color: #000;
  font-size: 50px;
  margin: 0px !important;  
  padding: 10px 50px;
  border: 3px solid #000;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
  border-radius: 50px;
}


/* -------------------- ANIMATION KEY-FRAMES ------------------ */

@keyframes cameraPan {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0% 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}
